.container__home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    video {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .container__home-content {
        position: absolute;
        display: flex;
        z-index: 500;
        width: 80rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    span {
        font-size: 1.5rem;
        display: block;
        text-align: center;
        font-weight: 700;
        transform: translateY(2rem);
    }
    h1 {
        font-size: 10rem;
        font-weight: 300;
        height: 10rem;
        margin: 0;
    }
    p{
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--ligth-color);
    }
}
.container__home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d77;   
    z-index: 10;
    opacity: 0.5;
}