* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

:root {
  --primary-color: #713600;
  --secondary-color: #eed3bb;
  --ligth-color: #f8ece1;
  --white: #FFF;
}