.container__nav {
    position: absolute;
    top: 1%;
    padding:  0 10rem;
    width: 100%;
    z-index: 500;
    .container__pad {
        position: relative;
        width: 100%;
        height: 90px;
        border-radius: .5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        left: 0;
        top: 100%;
        padding: 0 2rem;
    }

    img {
        width: auto;
        height: 3rem;
    }
    .container__nav-logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container__nav-menu {
       flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
        }
    }
    .container__nav-contant {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
    margin: 0 1rem;
    a {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 1.5rem;
    }
}