.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  color: var(--secondary-color);
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 7rem;
    line-height: 7rem;
    font-weight: 100;
  }
}

.container__parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}
